<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content">
  <div class="px-2 mx-2 navbar-start">
    <span class="text-lg font-bold">
            System Monitoring Dashboard
    </span>
  </div>
  <div class="hidden px-2 mx-2 navbar-center lg:flex">
    <div class="flex items-stretch ml-24">
      <span class="mr-8">
        System:
      </span>
      <a class="mr-8">
        DB:
      </a>
      <span class="mr-8">
        Disk Space:
      </span>
      <span class="mr-8">
        Processors:
      </span>
      <span class="mr-8">
        Up Time:
      </span>
    </div>
  </div>
  <div class="navbar-end">
    <button class="btn btn-outline btn-primary btn-sm">Refresh Data</button>
  </div>
</div>


<div class="container px-8 m-auto mt-8">
  <div class="wrapper flex justify-center">
    <div class="shadow stats mr-6">
      <div class="stat">
        <div class="text-success">200 Response</div>
        <div class="stat-value">89,400</div>
        <div class="stat-desc">Updated:</div>
      </div>
    </div>
    <div class="shadow stats mr-6">
      <div class="stat">
        <div class="text-info">404 Response</div>
        <div class="stat-value">60,400</div>
        <div class="stat-desc">Updated:</div>
      </div>
    </div>
    <div class="shadow stats mr-6">
      <div class="stat">
        <div class="text-warning">400 Response</div>
        <div class="stat-value">89,400</div>
        <div class="stat-desc">Updated:</div>
      </div>
    </div>
    <div class="shadow stats mr-6">
      <div class="stat">
        <div class="text-error">500 Response</div>
        <div class="stat-value">89,400</div>
        <div class="stat-desc">Updated:</div>
      </div>
    </div>
  </div>

  <div class="flex justify-around mt-8">
    <span>Http Response</span>
    <span>Http Response</span>
  </div>

  <h3>HTTP Traces</h3>
  <button class="btn btn-info btn-sm mb-4">export to Excel</button>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
      <tr>
        <th></th>
        <th>Time Stamp</th>
        <th>Method</th>
        <th>Time Taken(ms)</th>
        <th>Status</th>
        <th>Uri</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>Quality Control Specialist</td>
        <td>Blue</td>
        <td></td>
        <td></td>
        <td>
          <div class="badge badge-info">
            info
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

